/*

### Gradle ###
!/gradle
!/build.gradle
!/gradlew
!/gradlew.bat
!/settings.gradle

### IntelliJ IDEA ###
!/.idea
/.idea/*
!/.idea/artifacts
!/.idea/runConfigurations
!/.gitignore

### WList ###
!/libs
!/META-INF
!/src
