/*

### Gradle ###
!/gradle
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/settings.gradle

### IntelliJ IDEA ###
!/.gitignore

### WList ###
!/app
/app/*
!/app/libs
!/app/src
!/app/build.gradle
!/app/proguard-rules.pro
